/*.img-circle.shane {
  margin: 40px 40px;
  margin-top:0px;
  width: 200px;
}


.user-header .img-circle {
  width: 200px;
  margin-right: 20px;
}

.user-header h3 {
  display: inline-block;
}

/* Mobile defaults */
.primary-image {
  display: block;
  float: none;
  margin: 0 auto;
}

.tiy-title {
  text-align: center;
}

.name-component {
text-align: center;
padding-top: 60px;
padding-bottom: 40px;
}


/* Desktop-only rules */
@media (min-width: 620px) {
  .primary-image {
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0 20px 20px 0;
  }
  .tiy-title {
    text-align: left;
  }
  .name-component {
    margin-top: 327px;
    text-align: center;
  }

  .name-component h1 {
    font-size: 65px;
  }

  /*.header-content-top {
    margin-left: 33%;
  }*/

  /*.header-container {
    margin-left: 33%;
    text-align: center;
  }*/
}
